/* .directory{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 40px 100px ;
    grid-gap: 5px;
    background-color: grey;
    justify-content: center;
} */


.directory{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(193, 193, 193);
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    width: 80vw;
    border-radius: 10px;
    margin: 10px;
}